/* ==========================================================================
   Reset
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* ==========================================================================
   Main Styles
   ========================================================================== */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 1em/1.875em "Helvetica Neue", Arial, sans-serif;
	color: #61636d;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* Clearfix */
.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 50px;
	padding: 0 5%;
	line-height: 50px;
	background-image: linear-gradient(#e9eaea, #cecfd2);
	border-bottom: 1px solid #bbb;
}

.header h1 {
	float: left;
	font-size: 1.25em;
}

/* Navigation
   ========================================================================== */

.nav {
	float: right;
}

.btn {
	font-size: .875em;
	font-weight: 500;
	padding: .25em .5em;
	color: #555;
	background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.4));
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow:
		inset 0 1px 0 rgba(255,255,255,.3),
		0 1px 0 rgba(255,255,255,.3);
}

.btn--hide {
	text-shadow: 0 -1px 2px rgba(0,0,0,.15);
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2));
	border-color: #777;
	box-shadow:
		inset 0 1px 3px rgba(0,0,0,.15),
		0 1px 0 rgba(255,255,255,.3);
}

/* ==========================================================================
   Table
   ========================================================================== */

table {
	width: 100%;
	table-layout: fixed;
}

th:first-child,
th:last-child {
	width: 5%;
	cursor: default;
	pointer-events: none;
}

tbody tr:nth-child(odd) {
	background: #f4f4f4;
}

td {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

tbody td:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 30px;
	background-image: linear-gradient(90deg, rgba(255,255,255,0), #fff);
	content: " ";
}

tbody tr:nth-child(odd) td:before {
	background-image: linear-gradient(90deg, rgba(244,244,244,0), #f4f4f4);
}

tbody tr:hover td:before {
	background-image: linear-gradient(90deg, rgba(81,83,92,0), #51535c);
}

.col-name {
	width: 55%;
}

.col-date {
	width: 35%;
}

/* Table Head
   ========================================================================== */

thead {
	position: relative;
	height: 40px;
	font-weight: 500;
	line-height: 40px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

thead tr {
	position: relative;
	z-index: 100;
}

th {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

th span {
	padding: 0 1em;
}

th:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background-image: linear-gradient(#fff, #cecece);
	content: "";
}

th:first-child:before {
	display: none;
}

/* SortTable */

.sorttable_sorted,
.sorttable_sorted_reverse {
	background-image: linear-gradient(#fff, #e8e8e8);
}

#sorttable_sortfwdind,
#sorttable_sortrevind {
	float: right;
	width: 0;
	height: 0;
	padding: 0;
	margin: 1.125em .875em 0 0;
	color: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #61636d;
}

#sorttable_sortfwdind {
	border-top: 5px solid #61636d;
	border-bottom: none;
}

/* Links */

table a {
	display: block;
	padding: 0 1em;
	color: #a2a4ab;
}

.col-name a {
	padding-left: 1.5em;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1em 1em;
	color: #61636d;
}

tbody tr:hover {
	background: #51535c;
}

tbody tr:hover a {
	color: #fff;
}

/* Responsive
   ========================================================================== */

